<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>name:</strong>
    <%= @profile.name %>
  </p>

  <p>
    <strong>surname:</strong>
    <%= @profile.surname %>
  </p>

  <p>
    <strong>education:</strong>
    <%= @profile.education %>
  </p>

  <p>
    <strong>experience:</strong>
    <%= @profile.experience %>
  </p>
  <p>
    <strong>knowledge:</strong>
    <%= @profile.knowledge %>
  </p>
 <p>
    <strong>availability:</strong>
    <%= @profile.availability %>
  </p>
 <p>
    <strong>city:</strong>
    <%= @profile.city %>
  </p>
 <p>
    <strong>country:</strong>
    <%= @profile.country %>
  </p>
  <p>
    <strong>street:</strong>
    <%= @profile.street %>
  </p>
  <%= link_to 'Back', articles_path %>
</div>