<div class="container" >
  <%= form_with(model: article, local: true) do |form| %>
  
  
    <div class="field">
    <%= form.label :category %><br>
    <%= form.collection_select :category_id,Category.all, :id, :name %>
    </div>
    <div class="field form-group">
      <%= form.label :title %>
      <%= form.text_field :title ,class:"form-control"%>
    </div>

    <div class="field form-group">
      <%= form.label :description %>
      <%= form.text_area :description,class:"form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label :recruiting %>
      <%= form.text_field :recruiting ,class:"form-control"%>
    </div>

    <div class="field form-group">
      <%= form.label :skills %>
      <%= form.text_area :skills,class:"form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label :employability %>
      <%= form.text_field :employability,class:"form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label :country %>
      <%= form.text_field :country ,class:"form-control"%>
    </div>

    <div class="field form-group">
      <%= form.label :city %>
      <%= form.text_field :city,class:"form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label :street %>
      <%= form.text_field :street,class:"form-control" %>
    </div>

    <div class="field form-group">
      <%= form.hidden_field :owner_id,value:current_user.id %>
    </div>
    <div align="center" class="actions form-group">
      <%= form.submit 'Submit' ,class:"btn btn-success btn-lg" %>
      <%= link_to 'Back', articles_path,class:"btn btn-outline-success my-2 my-sm-0" %>
    </div>
  <% end %>
</div>