
<h1>Active Articles</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Owner</th>
      <th>Title</th>
      <th>Description</th>
      <th>Recruiting</th>
      <th>Skills</th>
      <th>Employability</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @approvals.each do |approval| %>
        <tr>
          <% article = Article.find(approval.article_id)%>
          <td><%= User.find(article.owner_id).username%></td>
          <td><%= article.title %></td>
          <td><%= article.description %></td>
          <td><%= article.recruiting %></td>
          <td><%= article.skills %></td>
          <td><%= article.employability %></td>
          <td><%= link_to 'Show', article %></td>
          <td><%= link_to 'Cancel',cancel_approval_article_path(approval.id) %></td>
        </tr>
    <% end %>
  </tbody>
</table>
<div class="container">
<%= will_paginate @approvals ,renderer: BootstrapPagination::Rails,previous_label:"older" ,next_label:"next",inner_window:1, outer_window:0 %>
</div>