<!DOCTYPE html>
<html>
  <head>
    <title>Idea Listing Page</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
  <div class="header">
    <h2>Ideas Listing</h2>
  </div>

    <p id="notice"><%= notice %></p>

     <div>
       <div class="leftcolumn">
      <div class="card">
        <h2 align="center" class="categories-title">Categories</h2>
        <!--Load Categories Here -->
        <% @categories.each do |c| %>
        <li class="category-name-listing"><%= link_to c.name ,c %></li>
        <% end %>
      </div>
    </div>

  <% @articles.each do |article| %>
    <% if user_signed_in? %>
      <% unless current_user.id == article.owner_id%>
        <% if !current_user.agreement_found(article.id) && !current_user.approval_found(article.id) %>
          <div class="rightcolumn">
            <div class="card">
              <h5 align="center" class="article-title"><%= link_to article.title, article_path(article) %></h5>
              <h5 class="article-body"><%= truncate(article.description, length:300) %></h5>
              <h5 class="article-body description"><%= truncate(article.recruiting, length:100) %></h5>
              <h5 align="center"><%= @profile.distance_to(article).round(2) %>Miles</h5>
            </div>
          </div>      
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <div class="bottomcolumn">
    <%= paginate @articles %>
  </div>
  </div>
  
</body>   
