
<h1>Invitation Receieved</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>User Name</th>
      <th>created_at</th>
      <th>Reject</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <% if current_user.id == article.owner_id %>
        
           
          <% article.find_users(article).each do |user| %>
            <tr>
            <td><%= article.title %></td>
            <td><%=user.username%></td>
            <td><%= article.agreement_date article,user %></td>
            <% @agr=Agreement.find_by(article_id:article.id,user_id:user.id)%>
            <% ag=@agr.id%>
            <td><%= link_to 'Reject',reject_agreement_article_path(@agr.id) %></td>
            <td><%= link_to 'Approve',accept_approval_article_path(ag) %></td>
            <td><%= link_to 'Profile' ,invitation_user_article_path(user.id),target:"_blank"%></td>
                        
            </tr>

          <%end%> 
          
      <%end%>
    <% end %>
  </tbody>
</table>
