<div class="container">
	<p><strong>Name: <%=@profile.name%></strong></p>
	<p><strong>surname: <%=@profile.surname%></strong></p>
	<p><strong>education: <%=@profile.education%></strong></p>
	<p><strong>experience: <%=@profile.experience%></strong></p>
	<p><strong>knowledge: <%=@profile.knowledge%></strong></p>
	<p><strong>availability: <%=@profile.availability%></strong></p>
	<p><strong>Email: <%=@user.email%></strong></p>
</div>