<% if user_signed_in? %>
<!DOCTYPE html>
<html>
  <head>
    <h1 align="center">My Ideas</h1>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<div class="container-table">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <% if current_user.id == article.owner_id %>
        <tr>
          <td><%= link_to article.title, article_path(article) %></td>
          <td><%= truncate(article.description, length:100) %></td>
        </tr>
      <%end%>
    <% end %>
  </tbody>
</table>
</div>

<% else %>
 <h1>You Must Be Signed In To Access This Page</h1>
<% end %>
