<h3>Hello <%= @owner.email%></h3> 
<h4><%= @user.username%></h4>
<h4>Email<%= @user.email%> Cancel the Article  : </h4>
<h4>Title</h4>
<h6><%= @article.title%> </h6>
<h4>Description</h4>
<h6><%= @article.description%> </h6>

