<!DOCTYPE html>
<html>
  <head>
    <title>Pitch In</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <a class="navbar-brand" href="#">Pitch In</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <% if user_signed_in?%>
            <% if Profile.find_by(user_id:current_user.id)%>
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <%= link_to "Home" ,homes_index_path,class:"nav-link"%>
                </li>
                <li class="nav-item">
                  <%= link_to 'Articles' , articles_path ,class:"nav-link"%>
                </li>
                <li class="nav-item">
                  <%= link_to 'Post Article' ,new_article_path , class:"nav-link"%>
                </li>
               <li class="nav-item">
                  <%= link_to 'Send Invitation' ,send_invitation_articles_path , class:"nav-link"%>
                </li>
                <li class="nav-item">
                  <%= link_to 'Invitation Recieved' ,invitation_articles_path , class:"nav-link"%>
                </li>
                <li class="nav-item">
                  <%= link_to 'Active Employee' ,active_user_articles_path , class:"nav-link"%>
                </li>
                <li class="nav-item">
                  <%= link_to 'Active Article' ,active_article_articles_path , class:"nav-link"%>
                </li>

              </ul>
             
              <%end%>
                <%= link_to 'Sign Out' ,destroy_user_session_path , method: :delete ,class:"btn btn-outline-success my-2 my-sm-0"%>
              <% if Profile.find_by(user_id:current_user.id)%>
               <%= link_to 'Edit Profile' ,edit_profile_path(Profile.find_by(user_id:current_user.id)),class:"btn btn-outline-success my-2 my-sm-0 ml-2" %>
              <%end%>
          <%else%>
            <ul class="navbar-nav mr-auto">
            
              <li class="nav-item">
                <%= link_to 'Articles' , articles_path ,class:"nav-link"%>
              </li>
            </ul>  
            <%= link_to 'Register' ,new_user_registration_path ,class:"btn btn-outline-success my-2 my-sm-0"%>
            <%= link_to 'Sign in' ,new_user_session_path ,class:"btn btn-outline-success my-2 my-sm-0"%>
             
          <%end%>
        </div> 
      </nav>
    

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
