<!DOCTYPE html>
<html>
  <head>
    <title>Pitch In</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
 <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <!--Main Menu Items -->
    <ul class="navbar-nav w-100">
      <li class="nav-item active"><%= link_to "Pitch In" ,homes_homepage_path,class:"nav-link"%></li>
      <li class="nav-item"><%= link_to 'Ideas' , articles_path ,class:"nav-link"%></li>
        <% if user_signed_in?%>
        <% if Profile.find_by(user_id:current_user.id)%>
          <li class="nav-item"><%= link_to 'Post Article' ,new_article_path , class:"nav-link"%></li>
          <li class="nav-item"><%= link_to "My Ideas" ,homes_index_path,class:"nav-link"%></li>
            
      <li class="nav-item dropdown ml-auto">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Profile
        </a>
        <!--Dropdown Menu on the Right -->
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
          <ul>

          <li class="drop-item"><%= link_to 'Edit Profile' ,edit_profile_path(Profile.find_by(user_id:current_user.id)), class:"dropdown-item"%></li>
          <li class="drop-item"><%= link_to 'Send Invitation' ,send_invitation_articles_path , class:"dropdown-item" %></li>
          <li class="drop-item"><%= link_to 'Invitation Recieved' ,invitation_articles_path , class:"dropdown-item"%></li>
          <li class="drop-item"><%= link_to 'Active Employee' ,active_user_articles_path , class:"dropdown-item"%></li>
          <li class="drop-item"><%= link_to 'Active Article' ,active_article_articles_path , class:"dropdown-item"%></li>
          <%end%>
          <li class="drop-item"><%= link_to 'Sign Out' ,destroy_user_session_path , method: :delete ,class:"dropdown-item"%></li>
          </ul>
          <% else %>
          <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
          <ul class="navbar-nav ml-auto">
          <li><%= link_to 'Register' ,new_user_registration_path ,class:"btn btn-outline-success my-2 my-sm-0"%></li>
          <li><%= link_to 'Sign in' ,new_user_session_path ,class:"btn btn-outline-success my-2 my-sm-0"%></li>
          </ul>
          </div>
          <%end%>
        </div>
      </li>
    </ul>  
  </div>
</nav> 

</body>


  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>
</html>